:root {
  --typeface: "Inter UI";
  --system-ui: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --brand: #161931;
  --brand-hover: #353c4d;
  --brand-opaque: #b4b5bd;
  --brand-disabled: #d0d6d5;
  --brand-light: #ededef;
  --green: #07ef9a;
  --blue: #0e3ff2;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-extrabold: 800;
  --weight-black: 900;
}

body {
  font-family: var(--typeface), var(--system-ui);
}

html {
  background-color: #f5f6f9;
}